#form-container > form > p > input[type="text"],
#form-container > form > p > input[type="password"]
{
	width:100%;
	padding:10px;
	border-radius:5px;
	border:0;
	font-size:18px;
}

.register-button
{
	color:#fff;
	float:right;
	margin:7px 0 0 0;
}

#error,
#success
{
	line-height:50px;
	display:block;
	color:#fff;
	padding:0 20px;
}